.venv/*
config.py
token.pickle
rclone.conf
.netrc
log.txt
cfg.zip
accounts/*
thumbnails/*
rclone/*
tokens/*
cookies/*
fonts/*
mediainfo/*
sabnzbd/*
list_drives.txt
shortener.txt
cookies.txt
downloads/*
__pycache__/*
*/__pycache__/*
**/__pycache__/*
*.pyc
