asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler
cinemagoer
cloudscraper
dnspython
fastapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes
jinja2
lxml
mega.py
motor
natsort
pillow
psutil
pycountry
pymongo
pyrofork==2.2.11
python-magic
pytz
requests
speedtest-cli
telegraph
tenacity
tgcrypto
urllib3
uvicorn
uvloop
xattr
